# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Spike Tools
UVE-Testing/spike 
UVE-Testing/pk

# Log files that may be too big to commit
UVE-testing/log*
UVE-testing/*.log
UVE-testing/*/log*
*/debug.log

# Auxiliary files
clang.txt

# Result files
*.csv
*.txt

# Directories
UVE-Testing/compiler_test
UVE-Testing/spike_test/benchmarks/others
UVE-Testing/spike_test/benchmarks/floyd-warshall
UVE-Testing/spike_test/benchmarks/pred
UVE-Testing/spike_test/benchmarks/ind
UVE-Testing/spike_test/benchmarks/pvr
UVE-Testing/spike_test/benchmarks/knn
patches/*

### VisualStudioCode ###
vscode
.vscode
.vscode/*
.vscode/settings.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
*.code_workspace
*.code-workspace

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide